/* Configurações Gerais */

/* Paleta de Cores */
:root {
    --verde: #49a09d;
    --lilás: #5f2c82;
    --branco: #ffffff;
}

@meta charset "UTF-8";

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    width: 100vw;
    height: 100dvh;
}

/* Configurações de Corpo */

main {
    background-color: var(--lilás);
    height: 100%;
    width: 100%;
    position: relative;
}

main section {
    background-color: var(--branco);
    width: 65%;
    height: 530px;
    padding: 10px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main section div {
    height: 50%;
    width: 100%;
}

main section #imagem {
    background: #000 url(../assets/imagens/padrao.jpg) no-repeat center fixed;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

/* Configurações do Formulário */

main section #formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid blue;
}
