/* Media Queries */

@charset "UTF-8";

@media screen and (min-width: 769px) {
    main section {
        width: 90vw
    }

    main section div {
        display: inline-block;
        border: 2px solid red;
        width: calc(50% - 10px);
        height: calc(100% - 20px);
    }

    main section #imagem {
        height: 60%;
    }
}