/* Configurações Gerais */

/* Paleta de Cores */
:root {
    --verde: #55b0ad;
    --verde-escuro: #1e4241;
    --lilás: #5f2c82;
}

@meta charset "UTF-8";

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    width: 100vw;
    height: 100dvh;
}

/* Configurações de Corpo */

main {
    background-color: var(--lilás);
    height: 100%;
    width: 100%;
    position: relative;
}

main section {
    background-color: #fff;
    width: 80%;
    height: 90%;
    padding: 10px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: all 0.3s ease-in-out;
}

main section > div {
    height: 50%;
    width: 100%;
}

main section div#imagem {
    background: #000 url(../imagens/padrao.jpg) no-repeat center fixed;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

/* Configurações do Formulário */

main section div#formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main section div#botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main button {
    padding: 8px 30px;
    border: 2px solid var(--verde);
    border-radius: 5px;
    background-color: var(--verde);
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 5px var(--verde-escuro);
}

main button:hover {
    background-color: var(--verde-escuro);
}

main button:active {
    background-color: #fff;
    color: var(--verde);
    border-color: var(--verde);
    transform: scale(0.9);
}