/* Configurações Gerais */

/* Paleta de Cores */
:root {
    --verde: #55b0ad;
    --verde-escuro: #1e4241;
    --lilás: #5f2c82;
}

@meta charset "UTF-8";

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    height: 100dvh;
}

/* Configurações de Corpo */

main {
    background-color: var(--lilás);
    position: relative;
    height: 100dvh;
}

section {
    background-color: #fff;
    width: 85%;
    height: 95%;
    padding: 10px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

section > div {
    width: 100%;
}

div#imagem {
    background: #000 url(../imagens/padrao.jpg) no-repeat center fixed;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    height: 40%;
}

div#login {
    padding: 10px;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

/* Configurações do Formulário */

div#login form {
    width: inherit;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
}

div#login form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: inherit;
    background-color: var(--lilás);
    color: #fff;
    padding: 5px;
}

div#login form input {
    padding: 10px;
    width: inherit;
}

div#login form a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
    color: #333;
    margin-bottom: 10px;
}

div#login form a:hover {
    color: var(--verde);
}

div#login button {
    padding: 10px;
    width: 50%;
    border: 2px solid var(--verde);
    border-radius: 5px;
    background-color: var(--verde);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 5px var(--verde-escuro);
}

div#login button:hover {
    background-color: var(--verde-escuro);
}

div#login button:active {
    background-color: #fff;
    color: var(--verde);
    border-color: var(--verde);
    transform: scale(0.9);
}