/* Media Queries */

@charset "UTF-8";

@media screen and (min-width: 768px) {
    main section {
        flex-direction: row;
    }

    main section div {
        height: 100%;
    }

    main section #imagem {
        border-radius: 15px 0 0 15px;
    }
}