/* Media Queries */

@charset "UTF-8";

@media screen and (min-width: 769px) {
    main {
        background-image: linear-gradient(to bottom, var(--lilás), var(--verde)) ;
    }

    section {
        flex-direction: row;
    }

    section > div#imagem, div#login {
        height: 100%;
    }

    div#login form {
        height: 50%;
    }

    div#login button {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    section {
        flex-direction: row-reverse;
    }

    div#login button {
        width: 50%;
    }
}