/* Media Queries */

@charset "UTF-8";

@media screen and (min-width: 769px) {
    main {
        background-image: linear-gradient(to bottom, var(--lilás), var(--verde)) ;
    }

    main section {
        flex-direction: row;
        width: 90%;
    }

    main section > div {
        height: 100%;
    }

    main section #imagem {
        border-radius: 15px 0 0 15px;
    }
}

@media screen and (min-width: 992px){

    main section {
        flex-direction: row-reverse;
    }

    main section #imagem {
        border-radius: 0 15px 15px 0;
    }
}