/* Media Queries */
@charset "UTF-8";

@media screen and (min-width: 769px){
    main {
        background-image: linear-gradient(to bottom, var(--lilás), var(--verde));
    }

    section {
        flex-direction: row;
    }

    section div#imagem {
        border-radius: 15px 0px 0px 15px;
    }

    section div#imagem, div#login {
        height: 100%;
    }

    div#login form {
        height: 50%;
    }

    div#login button {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    section {
        flex-direction: row-reverse;
    }

    section div#imagem {
        border-radius: 0px 15px 15px 0px;
    }

    div#login button {
        width: 50%;
    }
}

@media screen and (height <= 380px) {
    main  {
        max-height: 250dvh;
    }

    section {
        height: 340px;
    }

    section div#login h1, p {
        transform: scale(0.75);
    }

    section div#login form {
        height: 60%;
    }
}